.head,.body-Section{
	text-align: center;
}
body{
	background: url('image.jpg')fixed;
	color: #581845;
}

h1{
	color: white;
}
.table-Section{
	margin-top: 20px;
}
table, td {
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    color: white;
}